<mat-card class="playerOfTheMonthCard">
  <div class="player-month-title">
    Player of the month
  </div>
  <mat-card-header>
    <mat-card-title>Pepe Sierra</mat-card-title>
    <mat-card-subtitle>Melasuda</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../../assets/img/cheems-pixel-art.jpg" alt="Cheems Pixel Art Placeholder">
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius vestibulum quam, sit amet elementum odio interdum sed. Aenean ultricies augue a leo blandit venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris quis dignissim diam. Vivamus at rhoncus neque. Sed posuere erat orci, in venenatis massa luctus sed. In vel justo malesuada, consectetur nibh sed, pretium ante. Vivamus eu magna a tortor volutpat pretium. Mauris ullamcorper ex at nisl finibus, sed sagittis lacus ultricies. In egestas gravida risus, in lobortis dolor. Proin ultrices nunc at neque consequat, sed tincidunt mi porta. Suspendisse potenti.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
