<mat-card>
  <div class="recently-played-title">
    Recently played
  </div>
  <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon>note</mat-icon>
      <div mat-line>Nombre: Pepe</div>
      <div mat-line>Usuario: Pepe01 </div>
      <div mat-line>Fecha: 01/08/2020</div>
      <div mat-line>Jugado con: Yasuo</div>
      <div mat-line>Score: 2/10/3</div>
      <div class="finalResult">
        Derrota!
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon mat-list-icon>note</mat-icon>
      <div mat-line>Nombre: Pepe</div>
      <div mat-line>Usuario: Pepe01 </div>
      <div mat-line>Fecha: 01/08/2020</div>
      <div mat-line>Jugado con: Yasuo</div>
      <div mat-line>Score: 2/10/3</div>
      <div class="finalResult">
        Derrota!
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon mat-list-icon>note</mat-icon>
      <div mat-line>Nombre: Pepe</div>
      <div mat-line>Usuario: Pepe01 </div>
      <div mat-line>Fecha: 01/08/2020</div>
      <div mat-line>Jugado con: Yasuo</div>
      <div mat-line>Score: 2/10/3</div>
      <div class="finalResult">
        Victoria
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon mat-list-icon>note</mat-icon>
      <div mat-line>Nombre: Pepe</div>
      <div mat-line>Usuario: Pepe01 </div>
      <div mat-line>Fecha: 01/08/2020</div>
      <div mat-line>Jugado con: Yasuo</div>
      <div mat-line>Score: 2/10/3</div>
      <div class="finalResult">
        Derrota!
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon mat-list-icon>note</mat-icon>
      <div mat-line>Nombre: Pepe</div>
      <div mat-line>Usuario: Pepe01 </div>
      <div mat-line>Fecha: 01/08/2020</div>
      <div mat-line>Jugado con: Yasuo</div>
      <div mat-line>Score: 2/10/3</div>
      <div class="finalResult">
        Derrota!
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>
